* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;

}
.logo-image {
    width: 568px;
    height: 500px; 
    margin-left: 125px;  
    display: inline-block; 
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}
h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
    text-align: justify;
}

.header-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.header-button {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-button {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

@media screen and (max-width: 900px) {

    header { display: none;}

    .logo-image {
        position: static;
        margin: 149px 22px 0 14px;
        width: 90%;
        height: 25%;
    }

    h1 {
        font-size: 50px;
        line-height: 61px;
        margin: 7px 0 17px 0;
        text-align: center;
        
    }

    h2 {
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }

    section {
        
        display: block;
        margin: auto;
        width: 100%;
        height: 40%;
    }

    p {display: none;}

    .main-button {
        margin: 17px auto;
        display: block;
        
    }


}
